body {
  background-color: #333456;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: lighter;
  overflow: auto;

}

.headernav {
  width: 100%;
  /*   background-color: #333456; */

}

.colr {
  margin: 0;
  padding: .5rem .2rem;
  box-shadow: 0 0 10px 5px #799351;
  /*   background-color: #333456; */
  background-image: linear-gradient(to right, rgba(51, 52, 86, 0.6), rgba(51, 52, 86, 1));
}

.welcom {
  width: 60%;
  margin-left: 1rem;
  color: white;
  font-weight: lighter;
}

.my-navbr {
  margin-left: 1rem;
  margin-right: 2rem;
}

.my-contnr {
  margin: 1;
  rem border-radius: 10%;
  padding: 2% 3% 2%;
}

.main-body {
  border-radius: 15%;
  margin: 1rem;
}

.my-row {
  border-radius: 1%;
}

.col {
  padding: 5% 3% 3%;
  background-color: #827397;

}

.achicard {
  color: #827397;
  padding: 8%;
  border-radius: 1%;
  /*   background-color: #333456; */
  background-image: linear-gradient(to bottom, rgba(51, 52, 86, 0.7), rgba(51, 52, 86, 1));

}

.card-title {
  padding-top: 2rem;
  font: italic 1.2em "Fira Sans", serif;
  font-weight: bold;
}

.card-text {
  font: italic "Fira Sans", serif;
  font-weight: lighter;
}

.card-body:hover {
  color: white;
}

img {
  transition: transform .5s;
  color: white;
}

img:hover {
  transform: scale(1.1);

}

h2 {
  color: white;
}

.vid-title {
  color: #54e346;
  font-size: 1rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: lighter;
}

.vid-name {
  color: #81b214;
  font-family: "Lucida Console", "Courier New", monospace;
}

/*                                      tests                tests */

.my-vrow {
  margin: 0;
  padding: 0;
}

.myPro {
  border-radius: 25%;
  box-shadow: inset 0 0 0 0 #87A333;
  transition: ease-out 0.3s;
}

.myPro:hover,
.pro-text:hover {
  box-shadow: inset 80px 0 0 0 #87A333;
  background-color: #87A333;

}

.pro-text {
  font-size: 1rem;
  font-family: "Courier New", monospace;
  font-weight: bold;
  font-style: italic;
  background-color: #827397;
  height: 2rem;
  text-align: center;
  border-radius: 20%;

}

.myVsize {
  padding-top: 0;
  width: 100%;
  height: auto;
  justify-content: center;
}

.my-footer {
  padding: 3rem;
  text-align: center;
  font-family: serif;
  letter-spacing: .1rem;
}

.my-list {
  padding: 6rem 3rem 2rem;
  padding: auto;
  height: 3rem;
  box-sizing: border-box;
}

.myimg {
  width: 3%;
  height: auto;
  padding: 0 .4rem;
  box-sizing: border-box;
}

.design {
  text-align: center;
  color: #827397;
}

.loveP {
  margin-top: 2rem;
}

#foot-text p:hover {
  color: white;
}

.qrcode {
  width: 10rem;
  margin: 2rem;
}

.skill-wraper {
  margin: 0.5rem 0;

}

.skill-wraper p {
  color: #999;
  margin: 0;
}

.skills {
  background-color: #999;
  margin: 0.2rem 0;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  overflow: hidden;
  cursor: pointer;
}

.skills .skill-inner {
  background-color: #7bea71;
  text-align: center;
  border-radius: 0.4rem;
  color: #fff;

}

.skills:hover .skill-inner {
  background-color: #c9f626;
  animation: animate 2.5s linear;
}

@keyframes animate {
  0% {
    background-color: #28d8f4;
    width: 55%;
    opacity: 0.5;
  }

  45% {
    background-color: #88b504
  }

  90% {
    background-color: #2ef21d;
    width: attr(data-width);
    opacity: 1;
  }
}
